<div *ngIf="posts && posts.length != 0">
    <app-list [posts]="posts" 
            (openPost)="openPostHandler($event);" 
            (newPost)="newPostHandler();">
    </app-list>
</div>

<div *ngIf="testPost?.postid">
    <app-edit [post]="currentPost"
            (savePost)="savePostHandler($event);" 
            (deletePost)="deletePostHandler($event);" 
            (previewPost)="previewPostHandler($event);">
    </app-edit>
</div>
<div *ngIf="testPost?.postid">
    <app-preview [post]="currentPost"
                (editPost)="editPostHandler($event)">
    </app-preview>
</div>