<button (click)="triggerSave($event)">Save</button>
<button (click)="triggerDelete($event)">Delete</button>
<button (click)="triggerPreview($event)">Preview</button>
<div>
    <div>
        <span>Title: </span><input value="{{ post.title }}" (keyup)="onTitleChange($event);">
    </div>
    <div>
        <span>Body: </span><textarea rows="20" (keyup)="onBodyChange($event);">{{ post.body }}</textarea>
    </div>
    <div>
        <span>Last modified at {{post.modified | date:"HH:MM:SS MM/dd/yy"}}</span>
    </div>
</div>